@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root{
    --light:#000000;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s cubic-bezier(.38,1.15,.7,1.12);
}

*::selection{
    background:#333;
    color:var(--yellow);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

section{
    padding:1rem 5%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color:#333;
    background:var(--yellow);
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width:100%;
    clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
    z-index: -1;
    background:#444;
    transition: .3s cubic-bezier(.38,1.15,.7,1.12);
}

.btn:hover:before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btn:hover{
    color:var(--yellow);
}

.heading{
    text-align: center;
    padding:1rem;
    color:#333;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
    font-size: 3rem;
    padding-top: 8rem;
}

.heading i{
    padding:0 .5rem;
    color:var(--yellow);
}

* {
    box-sizing: border-box;
}
  .submit{
    background-color: var(--yellow);
    border: var(--light);
  }
  .cancel{
    background-color: #ff0000;
    float: right;
  }
  .cancel:hover{
  background-color: #f16464;
  border: #f16464;}
  .submit:hover{
    background:var(--light);
    color:var(--yellow);
  }
  .update-button, .update-photo {
    background-color: green;
    color: white;
    padding:.4rem 2rem;
    border-radius: .3rem ;
    cursor: pointer;
    opacity: 0.8;
    margin:1rem;
    float: right;
    font-size: 1.6rem;
  }
  .update-button:hover, .update-photo:hover {
    background-color: #25c725;
  }
  .heading{
    text-align: center;
    padding:2.5rem 0
  }
  
  .heading span{
    font-size: 3.5rem;
    background:var(--light);
    color:var(--yellow);
    border-radius: .5rem;
    padding:.2rem .5rem;
  }
  /******************************profile SECTION ***************/
      .profile .row{
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        align-items: center;
        justify-content: center;
      }
   /***********************************CARD PROFILE*************************/   
   .profile .row .profile-container{  
    flex: 1 1 20rem;
    align-items: center;  
      
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  } 
    .profile .row .profile-card{        
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      border-radius: 1rem;
      font-size: 1.7rem;
      }
      .profile .row .profile-card .user-image{
        padding: 3rem;
        background-image: linear-gradient(70deg,var(--yellow),var(--light));
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-shadow: #333;
      }
      .profile .row .profile-card .info{
      text-align: right;
      padding: 2rem;
      color: #fff;
    }
    .user-image .image{
      display: flex;
      flex-direction: column;
    }
      .user-image img{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        object-fit: cover;
        float: left;
    }

    .card{
      padding: 0 1rem;
    }
    .card .content{
      color: #565656;
      padding: 2.2rem;
     
  }
  .profile-card .name{
    text-transform: uppercase;
  }
  .card .content .user-bio{
    font-weight: 600;
    text-transform: uppercase;
}
  .profile-card .user-username{
      font-size: 1.5rem;
      color: #9e9e9e;
  }
  /***PROFILE CARD END**/
      /*********************************edit profile section***********************/
      .profile .row .pop-up{
        z-index: 9;
        display: none;
      }
      .profile .row .pop-up form{
        flex:1 1 50rem;
        padding:2rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        border-radius: .5rem;
      }
      
      .profile .row form .inputBox{
        display: flex;
        padding-right: 1rem;

      }
      .profile .row form .aboutBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-right: 1rem;
      }
       .inputBox input {
        flex: 75%;
        margin:1rem 0;
        padding:1rem;
        background:#f7f7f7;
        text-transform: none;
        border-radius: 1rem;
      }
      .inputBox label{
        margin:1rem 0;
        padding:1rem;
        text-transform: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: #525f7f;
      }

      .aboutbox label{
        margin:1rem 0;
        padding:1rem;
        text-transform: none;
        font-size: 1.7rem;
        font-weight: 600;
        color: #525f7f;
      }
      .aboutbox  input{
          height: 8rem;
          width:100%;
          margin:1rem 0;
          padding:1rem;
          font-size: 1.7rem;
          background:#f7f7f7;
          text-transform: none;
          border-radius: 1rem;  
        }
      @media screen and (max-width: 500px) {
       section{
         padding: 2rem 2%;
       }
        .inputBox input{
          flex: 100%;
          margin-top: 0;
         
        }
        .inputBox label, .aboutbox label{
          font-size: 1rem;
          flex: 100%;
          margin-top: 0;
          margin: 0;padding: 0;
          }
          .card .content .user-bio{
          flex: 100%;
          }
      }      
      /******************************profile SECTION END***************/
